<!DOCTYPE html>
<html lang="en">

<head>
{% load staticfiles %}
<meta charset="UTF-8">
<title>Recruit Assist</title>
<!-- responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- master stylesheet -->
<link rel="stylesheet" href="{% static 'recruitassist/css/style_about.css' %}">
<!-- responsive stylesheet -->
<link rel="stylesheet" href="{% static 'recruitassist/css/bootstrap-margin-padding.css' %}">
<link rel="stylesheet" href="{% static 'recruitassist/css/responsive_about.css' %}">
<style>
    body {
        background-image: url('https://cdn.shopify.com/s/files/1/2136/5613/products/fda5a78dbd1310349511de6c24a87e19_x350.png?v=1553872461');
    }
</style>
</head>

<body>
<!-- /.mainmenu-area -->
</section>
<section class="sec-padding about-content full-sec pb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-12">
				<div class="full-sec-content mt-15">
					<div class="sec-title style-two">

				
						<h2>More about us <img src="(images/cp4.jpg") height="160" width="160"/></h2></h2>

						<span class="decor">
							<span class="inner"></span>
						</span>
					</div>
					<h3>We have a multi-cultural team <br>with members from China and Pakistan! </h3>
					<br>
					<p>Our  group name  is CP4,  which  means  C  for  China,  P  for  Pakistan, and 4 for the four members that represents the long China-Pakistan friendship. </p>
					<br>
					<p>There are three different majors in our group, Marwan is from Master of Network Security, Meng is doing the master  of  IT  and  the  other  two,  Shijie  and  Xin,  are  studying Master  of  Business Information System. We are glad to work together and hope we can make a great team in the future</p>
				</div>
			</div>
			<div class="col-md-7 hidden-md text-right">
				<img src= '{% static "recruitassist/images/team/team.jpg"%}' alt="Awesome Image />
			</div>
		</div>
	</div>
</section>
<div class="container">
<h2>Back to homepage</h2>
  <a href="Homepage-IE.html" class="btn btn-info" role="button">Homepage</a>
</div>
</body>
</html>
