<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Recruit Assist</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <!-- Favicons -->
  <!--===============================================================================================-->
	<link href="{% static 'recruitassist/img/cp4.png'%}" rel="icon">
<!--===============================================================================================-->
	 <link href="{% static 'recruitassist/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
<!--===============================================================================================-->
	<link href="{% static 'recruitassist/lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
<!--===============================================================================================-->
	<link href="{% static 'recruitassist/lib/animate/animate.min.css'%}" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'recruitassist/lib/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'recruitassist/lib/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'recruitassist/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'recruitassist/css/main_quiz.css'%}">
<!--===============================================================================================-->
<!--	for js part-->
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'recruitassist/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'recruitassist/lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{% static 'recruitassist/lib/animate/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'recruitassist/lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'recruitassist/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'recruitassist/lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'recruitassist/css/style.css'%}" rel="stylesheet">


    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
    <style>
	#question1 {
	display: block;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.0;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 20px;
	}

	#question2 {
	display: block;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.0;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 20px;
	}

	#question3 {
	display: block;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.0;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 20px;
	}

	#question4 {
	display: block;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.0;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 20px;
	}

	#team {
            display: none;
        }

	#header {
  background-color:black;
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  }

    #header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}
<!--    if you load the picture correctly, you could comment the body part below-->
<!--    and change the background color in main_quiz.css 135 line. Or you can use inspect in Chrome-->
    body {
    background: #666666;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    }

    p {
    padding: 0;
    margin: 0 0 0 0;
}

    </style>

</head>

<body>

<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="/Homepage_final_version.html" class="scrollto">Recruit Assist</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

          <nav id="nav-menu-container">
        <ul class="nav-menu">
           <li><a href="/Homepage_skill.html">Back</a></li>
          <li><a href="/Homepage_final_version.html">Home</a></li>




        </ul>

      </nav>
    </div>
  </header><!-- #header -->

<!-- Can you fix this problem? about the background-image, it seems cannot load, on other pages it can work-->
<!-- I tried several solutions but I cannot fix it.-->
<div class="bg-contact3" style="background-image: url('{{ STATIC_URL }} recruitassist/img/mt.jpg');">
		<div class="container-contact3">
			<div class="wrap-contact3">
				<form class="contact3-form validate-form" method="post" target="iframe_quiz">{% csrf_token %}

                    <h4 style="color:black;"><b>Evaluation Form</b></h4>

					<p id="question1">1.Do you feel nervous when it comes to speaking in front of group of people?</p>
					<div class="wrap-contact3-form-radio">
						<div class="contact3-form-radio m-r-42">
							<input class="input-radio3" id="radio1" type="radio" name="question1_choice" value="yes">
							<label class="label-radio3" for="radio1">
								Yes
							</label>
						</div>

						<div class="contact3-form-radio">
							<input class="input-radio3" id="radio2" type="radio" name="question1_choice" value="no">
							<label class="label-radio3" for="radio2">
								No
							</label>
						</div>
					</div>

					<p id="question2">2.Do you feel difficulty in explaining in English?</p>
					<div class="wrap-contact3-form-radio">
						<div class="contact3-form-radio m-r-42">
							<input class="input-radio3" id="radio3" type="radio" name="question2_choice" value="yes">
							<label class="label-radio3" for="radio3">
								Yes
							</label>
						</div>

						<div class="contact3-form-radio">
							<input class="input-radio3" id="radio4" type="radio" name="question2_choice" value="no">
							<label class="label-radio3" for="radio4">
								No
							</label>
						</div>
					</div>

					<p id="question3">3.Can you express youself well in a interview?</p>
					<div class="wrap-contact3-form-radio">
						<div class="contact3-form-radio m-r-42">
							<input class="input-radio3" id="radio5" type="radio" name="question3_choice" value="yes">
							<label class="label-radio3" for="radio5">
								Yes
							</label>
						</div>

						<div class="contact3-form-radio">
							<input class="input-radio3" id="radio6" type="radio" name="question3_choice" value="no">
							<label class="label-radio3" for="radio6">
								No
							</label>
						</div>
					</div>

					<p id="question4">4.Are you afraid of talking to new people?</p>
					<div class="wrap-contact3-form-radio">
						<div class="contact3-form-radio m-r-42">
							<input class="input-radio3" id="radio7" type="radio" name="question4_choice" value="yes">
							<label class="label-radio3" for="radio7">
								Yes
							</label>
						</div>

						<div class="contact3-form-radio">
							<input class="input-radio3" id="radio8" type="radio" name="question4_choice" value="no">
							<label class="label-radio3" for="radio8">
								No
							</label>
						</div>
					</div>

					<div class="container-contact3-form-btn">
						<button class="contact3-form-btn" onclick="myFunction()">
							Evaluate
                        </button>
					</div>
				</form>
				<iframe id="iframe_quiz" name="iframe_quiz" style="display:none;"></iframe>
			</div>
		</div>

    <div id="here"></div>
	<section id="team" style="background-color: transparent;">
            <div class="container">
                <div class="section-header wow fadeInUp">
                    <h3 id="recommendation1" style="color:#fff; display: block;">Our recommendation:</h3>
                    <h3 id="recommendation2" style="color:#fff; display: none;">No Suitable Skills</h3>
                    <p id="English_result" style="font-size: 20px;display: none; color:#fff;">English Skills</p>
                    <p id="Communication_result" style="font-size: 20px;display: none; color:#fff;">Communication Skills</p>
                    <p id="Interview_result" style="font-size: 20px;display: none; color:#fff;">Interview Skills</p>
                </div>

               <div class="row">

              <div class="col-lg-4 col-md-6 wow fadeInUp" id="English" style="display: block">
                <div class="member">
                  <img src="{% static 'recruitassist/img/846-05648152en_Masterfile.jpg'%}" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <a href="https://www.deccanherald.com/content/249714/importance-english-employment.html" target="_blank"><h4>English Skill</h4></a>
                      <span>Importance of English in employment</span>
                    </div>
                  </div>
                </div>
              </div>

             <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" id="Communication" style="display: none">
                <div class="member">
                  <img src="{% static 'recruitassist/img/talking-to-yourself-Man-talking-himself-large-bigstock--768x1024.jpg'%}" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <a href="https://shirleytaylor.com/shirleys-articles/why-are-communication-skills-important/" target="_blank"><h4>Communication Skills</h4></a>
                      <span>Why are Communication Skills Important?</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" id="Interview" style="display: none">
                <div class="member">
                  <img src="{% static 'recruitassist/img/interview.jpg'%}" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <a href="https://umdcareers.wordpress.com/2013/10/17/why-interviewing-skills-are-important/" target="_blank"><h4>Interview Skills</h4></a>
                      <span>How important are Interview Skills?</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                <p style="font-size: 25px; padding:5px">Not satisfied?</p>
                        <a href="/quiz_new.html" class="btn-get-started scrollto">Start Again</a>
<!--                I put location choose out of the quiz form, I think this seems more make sense, based on the result then decide whether imput location to search.-->
<!--                This button will submit the form, so it's not good to put the one button for js function and turn to the new page.-->
				<form action="/listprovider/" class="search-location mt-md-5" method="post" onsubmit="return doSomething();">{% csrf_token %}

				<div class="wow fadeInUp" data-wow-delay="0.4s">
				<p style="font-size: 25px;color: #fff"><span>Interested? Select a location to find training institutes closest to you: </span></p>
                                    <input style="width: 50%;height: 50%;padding: 8px 32px;border-radius: 50px" list="provider" id=provider_list name="suburb" placeholder="e.g Geelong" autocomplete="off" required pattern="[a-zA-Z\s]+">
                                    <datalist id="provider">

                                    </datalist>
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    <div class="search-btn">

                          <button style="
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;"><span>View Providers</span></button>
                       <a href="/Homepage_skill.html" class="btn-get-started scrollto">Back</a>
                    </div>
                </div>
				</div>
				</form>
            </div>
        </section><!-- #team -->
	</div>

<!--===============================================================================================-->
	<script src="{% static 'recruitassist/lib/jquery/jquery.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'recruitassist/lib/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'recruitassist/lib/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'recruitassist/lib/select2/select2.min.js'%}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
<!--	<script src="{% static 'recruitassist/js/main_quiz.js'%}"></script>-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

<!--  </script>-->
  <script src="{% static 'recruitassist/js/load_provider.js'%}"></script>
 <script src="{% static 'recruitassist/js/valid.js'%}"></script>
  <script src="{% static 'recruitassist/lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/easing/easing.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/superfish/hoverIntent.js'%}"></script>
  <script src="{% static 'recruitassist/lib/superfish/superfish.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/wow/wow.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/waypoints/waypoints.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/owlcarousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/isotope/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/lightbox/js/lightbox.min.js'%}"></script>
  <script src="{% static 'recruitassist/lib/touchSwipe/jquery.touchSwipe.min.js'%}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'recruitassist/contactform/contactform.js'%}"></script>
  <!-- Template Main Javascript File -->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="{% static 'recruitassist/js/main.js'%}"></script>
  <script src="{% static 'recruitassist/js/Quiz.js'%}"></script>

</body>
</html>
