<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Recruit Assist </title>
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- master stylesheet -->
    <link rel="stylesheet" href="{% static 'recruitassist/css/style_about.css' %}">
    <!-- responsive stylesheet -->
    <link rel="stylesheet" href="{% static 'recruitassist/css/bootstrap-margin-padding.css' %}">
    <link rel="stylesheet" href="{% static 'recruitassist/css/responsive_about.css' %}">
    <style>
        body {
            background-image: url('https://cdn.shopify.com/s/files/1/2136/5613/products/fda5a78dbd1310349511de6c24a87e19_x350.png?v=1553872461');
        }
        container {
            background-color: #9fcdff;
        }
    </style>
</head>

<body>
<!-- /.mainmenu-area -->

	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="Homepage-IE.html">Recruit Assist</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/Homepage-IE.html" class="nav-link">Home</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
 </section>
<section class="sec-padding Service-content full-sec pb-80" style="background-image: ('recruitassist/images/background_white.jpeg' )">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="full-sec-content mt-15">
                    <div class="sec-title style-two">
			    <h2>Employer-required training<h2>
                            <img src='{% static "recruitassist/images/dribbble.gif"%}' height="160" width="160"/></h2>
                        <span class="decor">
							<span class="inner"></span>
						</span>
                    </div>
                    <h3>These non-accredited courses focus on equipping the students with a specific knowledge and skillset that might be required by the employer for a job</h3>
                    <br>
                    <p style="font-size: 20px">Some examples such courses are:</p>
                    <br>
                    <p style="font-size: 20px">•Certificate II in Engineering Studies</p>
                    <p style="font-size: 20px">•Certificate IV in Leadership and Management</p>
                    <p style="font-size: 20px">•Certificate III in Automotive Sales (Parts)</p>
                    <p style="font-size: 20px">• Certificate IV in Work Health and Safety</p>


                </div>
            </div>
            <div class="col-md-7 hidden-md text-right" style="position:relative;top:220px;">
                <img src='{% static "recruitassist/images/Training.png"%}' alt="Awesome Image" />
            </div>
        </div>
    </div>
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="full-sec-content mt-15">
                    <div class="sec-title style-two">
                        <h2>Accredited training
                            <img src='{% static "recruitassist/images/dribbble.gif"%}' height="160" width="160"/></h2>
                        <span class="decor">
							<span class="inner"></span>
						</span>
                    </div>
                    <h3>These services be used for improving English language and Communication skills <br> </h3>
                    <br>
                    <p style="font-size: 20px">Some of them are as follows: </p>
                    <br>
                    <p style="font-size: 20px">•Certificate I,II, in English Proficiency </p>
                    <p style="font-size: 20px">•Certificate III,IV in Spoken and Written English </p>
                    <p style="font-size: 20px">•Certificate II in Basic English for Speakers of Other Languages </p>
                    <p style="font-size: 20px">•Conduct workplace communication </p>
                    <p style="font-size: 20px">•Implement effective communication techniques .</p>
                    </p>
                </div>
            </div>
            <div class="col-md-7 hidden-md text-right" style="position:relative;top:240px;">
                <img src='{% static "recruitassist/images/Jerene-Aug-2018-training-iStock.jpg"%}' alt="Awesome Image" />
            </div>
        </div>
    </div>
</section>

</body>

</html>
